.container{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
	box-sizing: border-box;
	background: url('../img/timg.jpg');
	background-size: 100% 100%;
}
.title{
	height: 4.166666rem;
	text-align: center;
	font-size: 1.25rem;
	line-height: 4.166666rem;
	color: #fff;
}
/*开关按钮*/
.false-control{
	width: 16.666666rem;
	height: 3.333333rem;
	border-radius: 1.666666rem;
	background: rgba(255,255,255,0.2);
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 1.25rem;
}
.audio-control{
	width: 2.5rem;
	height: 2.5rem;
	display: inline-block;
	background: url('../img/pause.png');
	background-size: 100% 100%;
}
.audio-control.active{
	background: url('../img/play.png');
	background-size: 100% 100%;
}
/*时间显示*/
.time{
	display: inline-block;
	line-height: 3.333333rem;
	font-size: 1.833333rem;
	color: #333;
	line-height: 3.333333rem;
}
.current-time{
	margin-left: 0.666666rem;
}
#audio{
	margin: auto;
	display: block;
	margin-bottom: 1.25rem;
	width: 100%;
	height: 3.333333rem;
}
.lrc{
	width: 100%;
	height: 17rem;
	overflow: hidden;
	position: relative;
	margin-top: 1.666666rem;
	background: linear-gradient(rgba(255,255,255,0) 0%,rgba(255,255,255,0.4) 20%,transparent 80%,rgba(255,255,255,0.4) 80%,rgba(255,255,255,0) 100%);
}
#lrc{
	position: absolute;
	width: 100%;
	left: 0;
	top: 7rem;
}
#lrc .lrc-item{
	color:#000;
	width: 100#;
	height: 1.25rem;
	text-align: center;
	line-height: 1.25rem;
	margin-bottom: 0.5rem;;
}
#lrc .lrc-item.active{
	background: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,1),rgba(255,255,255,0.5));
	color: #333;
}
.intro>img{
	height: 16.666666rem;
	width: auto;
	display: block;
	margin: 0 auto;
}
/*半透明遮罩*/
.cover{
	width: 100%;
	height: 1.25rem;
	background: linear-gradient(rgba(255,255,255,0.8),rgba(255,255,255,0));
}
